[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ldaPrototype"]
	path = ldaPrototype
	url = https://github.com/jonasrieger/ldaprototype
[submodule "rollinglda"]
	path = rollinglda
	url = https://github.com/jonasrieger/rollinglda
